@use "variables" as v;
@use "sass:map";
@use "sass:math";

.body {
    display: flex;
    flex-direction: column;
    max-width: map.get(v.$breakpoints, "xxl");
    margin: 0 auto;
   

     &_sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        position: sticky;
        top: 81px;
        z-index: 1;
        background: lighten( v.$color-primary, $amount: 100%);


        ul, .mySwiper {
            flex:1;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            li, .mySwiper_list {
                margin: 0;
                padding: 0;
                flex: 1;
                width: 100%;
                text-align: left;
                padding: 0.5rem;
                transition: all .2s ease;
                font-size: 1.2rem;

                &:hover {
                    transform: scale(1.1);               }

                .active {
                    border: 1px solid v.$color-primary;
                    padding: 0.5rem;
                    border-radius: 20% 50%;
                    opacity: 1;
                }

                .undefined {
                    opacity: 0.7;
                }
            }
        }
        a {
            color: v.$color-primary;
        }
    }


    @media (min-width: map.get(v.$breakpoints, "lg")) {

        flex-direction: row;
         padding: 0 1rem;
        
        &_sidebar {
            flex: 1;
            position: relative;
            align-items: start;
            position: fixed;
            width: 20%;
            max-width: 20rem;
            text-transform: capitalize;
            margin-top: 2rem;
            backdrop-filter: blur(15px);
            
            &::after {
                content: '';
                background: lighten($color: v.$color-primary, $amount: 55%);
                width: 2px;
                height: 100vh;
                position: absolute;
                right: 0;
                top: -2rem;
                box-shadow: 0 0 0 1px lighten($color: v.$color-primary, $amount: 35%);


            }
            ul {
                flex-direction: column;
                align-items: start;

                li {
                    flex: 1;
                    font-size: 1.2rem;
                   
                }

            }
        }

        &_outlet {
            flex: 4;
            margin-left: 24%;
            padding-left: 1rem;
        }
    }

    @media (min-width: map.get(v.$breakpoints, "xl")) {

        &_sidebar {
            
           ul {
            
                li {
                    font-size: 1.4rem;
                }
            }
        }
    }

    
}