@use "variables" as v;
@use "sass:map";
@use "sass:math";

.body {
    display: flex;
    flex-direction: column;

     &_sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        position: sticky;
        top: 81px;
        background: lighten( v.$color-primary, $amount: 100%);


        ul, .mySwiper {
            flex:1;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            li, .mySwiper_list {
                margin: 0;
                padding: 0;
                flex: 1;
                width: 100%;
                text-align: left;
                padding: 0.5rem;
                 transition: all .2s ease;
                &:hover {
                    transform: scale(1.1);               }

                .active {
                    border: 1px solid v.$color-primary;
                    padding: 0.5rem;
                    border-radius: 20% 50%;
                    opacity: 1;
                }

                .undefined {
                    opacity: 0.6;
                }
            }
        }
        a {
            color: v.$color-primary;
        }
    }


    @media (min-width: map.get(v.$breakpoints, "lg")) {

        flex-direction: row;
        
        
        &_sidebar {
            flex: 1;
            position: relative;
            align-items: start;
            position: fixed;
            
            &::after {
                content: '';
                background: lighten($color: v.$color-primary, $amount: 55%);
                width: 1px;
                height: 100vh;
                position: absolute;
                right: 0;

            }
            ul {
                flex-direction: column;
                align-items: start;

                li {
                    flex: 1;
                   
                }

            }
        }

        &_outlet {
            flex: 4;
        }
    }

    
}